.DS_Store
.project
.idea
.vscode
.gitkeep
npm-debug.log
nbproject
.settings
node_modules
logs
.sass-cache
bower_components
dist/
deploy/
build/
assets/.sass-cache
datashop-*
datashop.sample
*.pyc
tetris
